.link__icon{
    width: 12px;
    transition: 1s all;
}
.link__icon:hover{
    transform: scale(1.4);
}

    .presentacion__subtitulo{
        font-size: 17px;
        line-height: 23px;
        width: 600px;
        margin-bottom: 30px;
    }
    .presentacion__redes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 500px;
        line-height: 16px;
    }
    .link__icon{
        width: 35px;
    }

    @media screen and (max-width:768px){
        .presentacion__subtitulo{
            font-size: 14px;
            line-height: 16px;
        }
        .presentacion__redes{
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 8px;
            align-items: center;
            width: 60px;
            height: 15px;
        }
        .presentacion__redes__item{
            margin: 15px;
        }
    }
